* {
    box-sizing: border-box;
}

#app {
    font-family: Mulish;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $clr1;
    background: $color-primary-gray;
    height: 100%;
}

body {
    margin: 0;
    background: url("") no-repeat center center fixed;
    background-size: cover;
    // background-color: #e1f3ff;
    font-family: "Actor", sans-serif;
}

button {
    outline: none;
    cursor: pointer;
}

input {
    font-family: "Actor", sans-serif;
    padding: 0.5rem;
}

a {
    color: black;
    text-decoration: none;
}
