.party-list {
    width: 70%;
    button.add {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #850000;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px rgb(0, 0, 0);
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        z-index: 1;
        &:active {
            box-shadow: none;
        }
    }
}
