.main-filter-container {
  display: flex;
  flex-direction: column;
  // width: 258px;
  width: 30%;
  background-color: #30303000;
  color: white;

  .nav-sort-container {
    // border-bottom: 1px solid white;
    padding: 12px;

    .sort-buttons-container {
      display: flex;
      justify-content: space-evenly;

      button {
        border: 0;
        background-color: rgb(0, 0, 0);
        padding: 10px;
        border-radius: 6px;

        &.active {
          background-color: $color-primary-red;
        }
        i {
          color: white;
        }
        &:hover {
          background-color: $color-primary-red;
        }
      }
    }
  }
  .nav-ranges-container {
    display: flex;
    flex-direction: column;
    // border-bottom: 1px solid white;
    padding: 6px;

    .ranges-lable-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .nav-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    .nav-dropdown-content {
      display: flex;
      flex-direction: column;
      width: 53%;

      select {
        padding: 6px;
        background-color: black;
        color: white;
        border-radius: 6px;
      }
    }

    input {
      font-family: "Actor", sans-serif;
      padding: 0.5rem;
      color: white;
      text-overflow: ellipsis;
      border-radius: 6px;
      border: 0;
      background-color: black;
    }
  }
}

.slider {
  -webkit-appearance: none;
  width: 82%;
  height: 25px;
  background: black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #c1272d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #c1272d;
  cursor: pointer;
}

.btn.reset {
  border: 0;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 6px;
  color: white;

  &.active {
    background-color: $color-primary-red;
  }
  &:hover {
    background-color: $color-primary-red;
  }
}
