.login-page {
    display: flex;
    background-image: url("../assets/login.jpg");
    justify-content: center;
    align-items: center;
    background-clip: white;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .close-btn {
        position: absolute;
        bottom: -48px;
        right: 10px;
        height: 49px;
        background: #000000c7;
        border-radius: 0px 0px 7px 7px;
    }
    form {
        width: 385px;
        background-color: #00000049;
        padding: 15px;
        border-radius: 7px;
        h2 {
            color: white;
            font-size: 1.7rem;
            font-family: sans-serif;
            font-weight: 100;
            margin: 0;
            margin-bottom: 40px;

            text-align: left;
        }
        .login-input-container {
            display: flex;
            height: 42px;
            .login-icon {
                border-radius: 7px 0 0 7px;
                color: black;
                font-size: 21px;
                // margin-left: 9.4px;
                padding: 11px 10px;
                background-color: #c1272d;
            }
            input {
                font-family: "Actor", sans-serif;
                padding: 0.7rem;
                background-color: #c5c5c5;
                width: 100%;
                border: 0;
                border-radius: 0px 7px 7px 0px;
                color: rgb(0, 0, 0);
                &:focus {
                    outline: none;
                }
            }
        }

        .login-buttons-container {
            margin-top: 28px;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 20px;
            button {
                background-color: $clr1;
                color: white;
                border: 0;
                border-radius: 5px;
                width: 120px;
                padding: 10px;
                font-size: 1.2rem;
                text-align: center;
            }
            .guest {
                width: 280px;
                background: seagreen;
            }
        }
    }
    .abcRioButton {
        margin: auto;
        border-radius: 7px !important;
        margin-bottom: 15px;
    }
}
