.signup-page {
    display: flex;
    background-image: url("../assets/login.jpg");
    justify-content: center;
    background-clip: white;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    form {
        width: 385px;
        background-color: #97979749;
        padding: 48px;
        margin-top: 228px;

        h2 {
            
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: white;
            font-size: 1.7rem;
        }

        input {
            font-family: "Actor", sans-serif;
            padding: 0.8rem;
            background-color: #303030;
            border-radius: 22px;
            margin-bottom: 20px;
            border: 0;
            color: white;
            &:focus{
                outline: none;
            }
        }

        .signup-buttons-container {
            display: flex;
            justify-content: space-evenly;

            button {
                border: 0;
                background-color: #303030;
                padding: 12px;
                border-radius: 26px;
                cursor: pointer;
                color: white;
                font-size: 1.1rem;
            }
        }
    }
}
